@model IEnumerable<ECommerceApp.Models.Policy>

<div class="ps-page--blog">
    <div class="container">
        <div class="ps-page__header">
            <h1>Politikalar</h1>
            <div class="ps-breadcrumb--2">
                <ul class="breadcrumb">
                    <li><a asp-area="User" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li>Politikalar</li>
                </ul>
            </div>
        </div>
        <div class="ps-blog--sidebar">
            <div class="ps-blog__left">
                <div class="ps-post">
                    <div class="ps-post__content">
                        <div class="ps-post__top">
                            <a class="ps-post__title" href="#">Tüm Politikalarımız</a>
                        </div>
                        <div class="ps-post__bottom">
                            <ul class="ps-list--arrow">
                                @foreach (var policy in Model)
                                {
                                    <li><a asp-action="Detail" asp-route-slug="@policy.Slug">@policy.Title</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
