@model ECommerceApp.Models.BankAccount

@{
    ViewData["Title"] = "Sil";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
        <div class="card">
            <div class="card-body p-lg-17">
                <div class="mb-13 text-center">
                    <div class="mb-3">
                        <div class="symbol symbol-100px symbol-circle bg-light-danger">
                            <i class="ki-duotone ki-trash fs-2hx text-danger"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                        </div>
                    </div>
                    <h1 class="mb-3">Banka Hesabını Sil?</h1>
                    <div class="text-muted fw-semibold fs-5">
                        <strong class="text-danger">@Model.BankName - @Model.IBAN</strong> banka hesabını silmek istediğinize emin misiniz?
                        <br />Bu işlem geri alınamaz.
                    </div>
                </div>

                <form asp-action="Delete" class="form d-flex flex-center">
                    <input type="hidden" asp-for="Id" />
                    <a asp-action="Index" class="btn btn-light me-3">İptal</a>
                    <button type="submit" class="btn btn-danger">Evet, Sil</button>
                </form>
            </div>
        </div>
    </div>
</div>
